<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupiter Notebook on Watson Studio

## __Venkata Uday Jonnalagadda__
### I am a Management Consultant

### _Businesses nowadays are seeking for ways to derive insights_
### _to solve problems using the enormous amounts of data they collect. As a_
### _management consultant, learning analytics will add one more_
### _significant tool to help clients discover new ways to do things._
### _Also being very curious helps me satisfy my hunger for "Eureka" moments._

### The following code will print the result of 1+1

In [4]:
A=7
B=3
print(A+B)

10

### Horizontal Rule
---

### Following parts of the notebook will have:
1. Numbered List
2. Bulleted List and
3. A Table

### Following is a bulleted list describing the sample garage sale data set in table form
* 3 parameters - description, type & price
* 3 Rows
* Description describes the item
* Type indicates if the item is furniture or appliance
* Price gives the selling price of the item
* Struck through item indicates sold

### __Garage Sale__
#|Description|Type|Price (INR)
:---:|---|:---:|---:
1|Table|Furniture|20000
2|TV|Appliance|30000
3|~~Chair~~|~~Furniture~~|~~4000~~